<div class="row body">
    <div class="col-12">
        <h1 class="title">Insured Mine</h1>
        <p class="text">
            Ever since the launch of its first collection, Insured Mine's design idea becomes immediately clear: the blending of different and sometimes even apparently contrasting aesthetic Universes.
            Insured Mine's research focuses on designing and manufacturing the original Instant Classic, synonymous of a contemporary style that withstands the wear and tear of time.
        </p>
        <ul>
            <li>FOUNDED</li>
            <li>2008</li>
        </ul>
        <ul>
            <li>ORIGIN</li>
            <li>Milan</li>
        </ul>
    </div>
    <div class="col-12">
        <h1 class="title">FLAG - SHIPSTORE</h1>
        <p class="text">
            Located in the heart of the city, the store is realized with a gradient of different marbles and zinc-coated displays reflecting the concept of Instant Classic that accompanies the brand over the years.
            The seasonal collection, our selection of indipendent press and the various in-store events are hosted in a space which appears bright and amplified by a mirrored wall and by the extrusion of the cashier desk that creates a continuity with the floor.
        </p>
        <ul>
            <li>OPENED</li>
            <li>2015</li>
        </ul>
        <ul>
            <li>DESIGNED</li>
            <li>Andrea Caputo</li>
        </ul>
    </div>
</div>