.title{
    margin: 0;
    color: darkturquoise;
    border-bottom: 2px solid darkturquoise;
    display: inline-block;
    padding: 0 20px;
}
.text{
    margin-top: 10px;
    font-size: 18px;
}
ul{
    list-style-type: none;
}